#root {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  
  text-align: center;
}
/*
.ag-checkbox-header-center .ag-header-select-all {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
}

.ag-checkbox-header-center .ag-header-select-all .ag-checkbox-input-wrapper {
  margin: 0;
  height: 18px;
  width: 18px;
}

.ag-checkbox-cell-center .ag-checkbox-input-wrapper {
  margin: 0;
  height: 18px;
  width: 18px;
}

.ag-checkbox-cell-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
}*/
