#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ag-checkbox-header-center .ag-header-select-all {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
}

.ag-checkbox-header-center .ag-header-select-all .ag-checkbox-input-wrapper {
  margin: 0;
  height: 18px;
  width: 18px;
}

.ag-checkbox-cell-center .ag-checkbox-input-wrapper {
  margin: 0;
  height: 18px;
  width: 18px;
}

.ag-checkbox-cell-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
}
